* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border:1.5px solid transparent
}
.border:hover{
    border: 1.5px solid white;
}
/**box2**/
.add-first{
 color: #CCCCCC;
 font-size: 0.85rem;
 margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 620px;
    height: 40px;
    border-radius:4px ;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
   width: 100%;
   font-size: 1rem;
   border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111 ;
}
.nav-search:hover{
    border: 2px solid orange;
}
/*box4*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
 /* .nav-cart i{
 font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}   */
body{
    font-family: Arial;
    margin: 0;
}
.container{
    width: 300px;
    max-width: 60vw;
    margin: auto;
    text-align: center;
    padding: 8px;
    transition: transform.5s ;
    margin-top: -30;
}
svg{
    width: 30px;
    margin-top: -4px;

}
/* header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
} */
 .icon-cart{
    position: relative;
}
 .icon-cart span{
     display: flex;
     width: 20px;
     height: 20px;
     background-color: red;
     justify-content: center;
     align-items: center;
     color: #fff;
     border-radius: 50%;
     position: absolute;
     top: 30%;
     right: 113px;
   
   
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
        font-weight: 500;
        font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset:0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showcart .cartTab{
    inset:0 0 0 auto ;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartTab .btn button{
    background-color: #E8BC0E;
    border: none;
    font-weight: 500;
    cursor: pointer;

}
.cartTab .btn .close{
    background-color: #eee;
}
.cartTab .listcart .item img{
    width: 100%;
}
.cartTab .listcart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .iten:nth-child(even){
    background-color: #eee1;
} 
.listCart{
    overflow:auto;
}
.listCart:: -webkit-scrollbar{
    width:0;
}
@media screen and(max-width: 992px){
    .listProduct{
        grid-template-columns: repeat(3,1fr);
    }
}


/*panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
   display: inline; 
   margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
 font-size: 0.9rem;
 font-weight: 700;
}
/*hero-section*/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom:25px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}
/*shop-section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:  #007185;
}
/**footer**/
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    text-decoration: none;
    margin-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
   background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;

}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}
